* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url('./images/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

/* .form {
  width: 100%;
  border: solid #5B6DCD 10px;
  padding: 5px;
  position : relative;
  margin: 20px;
  color: white;
} */



.detail {
  margin: 20px;
  color: pink;
}

a {
  text-decoration: none ;
  color: red;
}

a:hover{
  color: blue;
}